* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header basic outline added by Jacob down to topnav a:hover*/
.header {
    padding:30px;
    text-align: left;
    background: #295366
}

.topnav{
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color:aqua;
    color:black;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Form */
.container {
    margin-top: 40rcap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 15px;
}
.section-label {
    margin-bottom: 8px;
}
.section input,
.section select {
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
}
/* filter dropdown hide */
.filter-hide {
    display: none;
}

.insideGrid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid black;
    width: 200px; 
    height: 200px; 
  }

  .outsideGrid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    width: 500px;
    height: 500px;

  }


  .cell {
    border: 1px solid black;
    background-color: white;
  }
/* Added by jacob */
  .footer{
    padding:20px;
    text-align: center;
    background:#295366;
    margin-top:20px;
  }